*{
    font-size: 35pt;
    color: red;
    background-color: silver;
}
p.klasa_nieuniwersalna_Ankiewicz, 
p.klasa_nieuniwersalna_Ankiewicz * {
    font-size: 30pt;
    color: green;
}
*.klasa_uniwersalna_Ankiewicz{
    font-size: 23pt;
    color: green;
}
